<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.dip.hirotann.appointmentdesk">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".activity.UserActivity">
        </activity>
        <activity android:name=".activity.MenuActivity">
        </activity>
        <activity android:name=".activity.NewActivity">
        </activity>
        <activity android:name=".activity.CreateEventActivity">
        </activity>
        <activity android:name=".activity.SelectActivity">
        </activity>
        <activity android:name=".activity.ListActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.LivePreviewActivity"
                android:exported="true"/>
    </application>

</manifest>